#root {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
#root::before,
#root::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw; /* 왼쪽과 오른쪽에 각각 절반 너비를 설정 */
  background-color: rgba(120, 229, 156, 0.681);
  z-index: -1;
}
#root::before {
  left: -50vw;
}
#root::after {
  right: -50vw;
}

.Registerinput {
  padding-left: 10px;
  width: 30rem;
  height: 3rem;
  text-align: left;
  margin-top: 10px;
  border-radius: 0;
  border-width: 0 0 2px;
}

.registertitle {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}
.flexbox {
  display: flex;
  flex-direction: column;
}

.backbtncontainer {
  text-align: left;
}

.backbtn {
  border: 1px solid;
  border-color: black;
  padding: 0.6em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
  font-size: 1.3rem;
  border: none;
  font-weight: bold;
}
.backbtn:hover {
  color: rgb(135, 235, 170);
}
.emailbtn {
  text-align: right;
  border: none;
  font-weight: bold;
  border-color: black;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}
.emailbtn:hover {
  color: rgb(135, 235, 170);
}

.registerbtn {
  border-radius: 4rem;
  margin-top: 3rem;
  font-weight: bold;
  border-width: 1.6px;
  border-color: black;
  padding: 0.6em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}
.registerbtn:hover {
  color: rgb(135, 235, 170);
  border-color: rgb(135, 235, 170);
}

.trueEmail {
  padding-left: 10px;
  width: 30rem;
  height: 3rem;
  text-align: left;
  margin-top: 10px;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: rgb(10, 212, 10);
}
.trueEmail:focus {
  outline: rgb(10, 212, 10);
}

.falseEmail {
  padding-left: 10px;
  width: 30rem;
  height: 3rem;
  text-align: left;
  margin-top: 10px;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: red;
}
.falseEmail:focus {
  outline: red;
}
